<% if user_signed_in? %>
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">User Id</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user%>
        <tr>
          <td>
            <%= link_to friend.name, friend, method: :get %>
          </td>
          <td><%=friend.email%></td>
          <td><%=friend.user_id%></td>
          <td>
            <%= button_to "Destroy", friend, method: :delete, class: "btn btn-outline-danger" %>
          </td>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<%else%>
  <h1>Hello World!</h1>
  This is my Rails social network.
<%end%>
